{{template "top" . }}

<div id="content">
    <div class="container-fluid">
        <div class="card shadow">
            <div class="card-header py-3">
                <p class="text-primary m-0 fw-bold">Policy Details</p>
            </div>
            <div class="card-body">


                    <form>
                        <div class="row">
                            <div class="col">
                                <div class="mb-3">
                                <label class="form-label" for="username"><strong>Policy</strong></label>
                                <textarea class="form-control" type="text" id="username" placeholder="user.name" name="username"> </textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="mb-3"><label class="form-label" for="first_name"><strong>First Name</strong></label><input class="form-control" type="text" id="first_name" placeholder="John" name="first_name"></div>
                            </div>
                            <div class="col">
                                <div class="mb-3"><label class="form-label" for="last_name"><strong>Last Name</strong></label><input class="form-control" type="text" id="last_name" placeholder="Doe" name="last_name"></div>
                            </div>
                        </div>
                        <div class="mb-3"><button class="btn btn-primary btn-sm" type="submit">Update</button></div>
                    </form>


            </div>
        </div>
    </div>
</div>
{{template "bottom" . }}




